@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Asap+Condensed");

*,
::before,
::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   font-family: "Nunito Sans", sans-serif;
}
.baner {
   background: #63be86;
   color: black;
   font-size: 32px;
   text-transform: uppercase;
   text-align: center;
   padding: 15px 0 15px 0;
   font-family: "Asap Condensed", sans-serif;
   letter-spacing: 3px;
}
.main {
   width: 70%;
   display: flex;
   flex-direction: column;
   margin: 0 auto;
   position: relative;
   min-height: 100vh;
   background: #edeeea;
}
form {
   text-align: center;
}
label {
   margin: 5px 0 10px 0;
   font-size: 20px;
   font-weight: 700;
   display: block;
}
input {
   display: block;
   margin: 0 auto;
   padding: 5px 10px;
   width: 60%;
   border: 2px solid black;
   font-size: 1.2rem;
}
footer {
   position: absolute;
   bottom: 0;
   left: 15%;
   right: 15%;
   background-color: #63be86;
   width: 70%;
   text-align: center;
   padding: 7px;
}
span {
   font-weight: 700;
   font-size: 24px;
}
button {
   display: block;
   margin: 10px auto;
   width: 16%;
   padding: 5px 9px;
   font-size: 1em;
   font-weight: 700;
   background: #63be86;
   border: 1px dotted #122212;
   transition: 0.4s ease-in-out;
   border-radius: 15px;
   outline: none;
   cursor: pointer;
}
button:hover {
   background: #1d0c33;
   color: #d9d7df;
}
.state span {
   font-size: 1.3rem;
}
.results {
   margin: 0 auto;
   padding: 0 20px 0 130px;
   width: 70%;
}
.info {
   font-size: 20px;
}
.icons {
   font-size: 10px;
}
.lang {
   position: absolute;
   right: 3%;
   top: 3%;
   cursor: pointer;
}
div span.notFound {
   text-align: center;
   display: block;
}
p {
   position: relative;
   height: 32px;
   margin-bottom: 10px;
   margin-left: 20px;
   font-size: 22px;
   font-family: "Merriweather", serif;
}
p::before {
   position: absolute;
   left: -50px;
   width: 32px;
   height: 100%;
   bottom: 5px;
}
.state p::before {
   content: "";
   position: relative;
   bottom: -15px;
   border: 2px solid black;
}
.info p:nth-child(1)::before {
   background-image: url("./icons/info.png");
   content: "";
   width: 30px;
   height: 30px;
   bottom: 6px;
}
p:nth-child(3)::before {
   background-image: url("./icons/cityLarge.png");
   content: "";
}
p:nth-child(4)::before {
   background-image: url("./icons/thermometer.png");
   content: "";
}
p:nth-child(5)::before {
   background-image: url("./icons/wind.png");
   content: "";
}
p:nth-child(6)::before {
   background-image: url("./icons/pressure.png");
   content: "";
}
p:nth-child(7)::before {
   background-image: url("./icons/humidity.png");
   content: "";
}
p:nth-child(8)::before {
   background-image: url("./icons/dawn.png");
   content: "";
}
p:nth-child(9)::before {
   background-image: url("./icons/sunset.png");
   content: "";
}
@media (max-width: 768px) {
   .main {
      width: 100%;
   }
   button {
      width: 30%;
   }
   span {
      font-size: 18px;
   }
   footer {
      position: relative;
      bottom: 0;
      left: 0;
      width: 100%;
      right: 0;
   }
   .results {
      width: 100%;
      padding: 0 10px 0 50px;
   }
   .results p {
      font-size: 18px;
      padding: 10px;
      width: 280px;
   }
   .state {
      margin-left: 0;
      left: -15px;
   }
   .state span {
      font-size: 17px;
   }
   .info {
      margin-bottom: 20px;
   }
   p::before {
      bottom: -2px;
   }
   .info p:nth-child(1)::before {
      bottom: -5px;
   }
}
@media (max-height: 450px) {
   .results {
      margin: 0 auto;
      padding: 0 20px 0 60px;
      width: 70%;
   }
   footer {
      position: relative;
      bottom: 0;
   }
}
